*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: white;
    
}


ul{
    list-style: none;
}


img{
    max-width: 100%;
}

