:root{
    --color-background: #f5f5f7;
    --color-black: #212121;
    --color-black-heavy: black;
    --color-grey: #d2d2d2;
    --color-text: #4f4f4f;
    --color-text-secondary: #90908e;
    --color-primary: #ffbf00;
    --color-secondary: #fdf59c;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}


/* base */

html, body{
    background-color: var(--color-background);
    font-family: Arial, sans-serif;
}


.btn-cart{
    background-color: var(--color-primary) !important;
    border-radius: 10px;
    color: var(--color-black) !important;
    border: none;
    box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.46);
}

.rodape {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.rodape .info {
    margin-top: 10px;
    /* espaçamento entre o texto e os ícones */
}

.rodape .info a {
    margin-right: 10px;
    /* espaçamento entre os ícones */
    color: #fff;
    /* cor do texto dos ícones */
    text-decoration: none;
    /* remover sublinhado dos links */
}

.rodape .info a:hover {
    color: #ccc;
    /* cor do texto dos ícones ao passar o mouse */
}

/* index */

.btn-white {
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 20px;
    color: var(--color-black) !important;
    padding: 15px 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.46);
}

.active{
    background-color: var(--color-primary) !important;
}

.inative{
    display: none;
}

.cardapio{
    padding-top: 30px;
    padding-bottom: 150px;
}

.hint-title{
    color: var(--color-primary);
}

#itensCardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0;
}

/* cards */

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 250px;
    height: 250px;
    width: 207px;
    min-width: 207px;
    border-radius: 10px;

    overflow: hidden;
    margin: 10px;
    padding: 10px;
}

.card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 153px;
}
.card-content {
    padding: 15px;
    background-clip: padding-box;
    height: fit-content;
    cursor: pointer;
}

.card-content p {
    margin: 0;
    color: #000;
}

.price {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 16px;
    margin-top: 5px;
    text-transform: capitalize !important;
}

.card:hover{
    background-color: var(--color-primary);
    box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.46);
}

/* Modals */
.modal.show {
    display: block;
}

.modal-footer{
    text-align: center;
    align-items: center;
    justify-content: center !important;
}

.modal-footer .add-cart{
    height: 30px;
}

.btn-menos {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.btn-mais {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.add-numero-itens{
    color: var(--color-black-heavy);
    padding: 5px 15px;
    margin: 0 !important;
}

.btn-add {
    border: 2px solid var(--color-black-heavy);
    font-size: 16px;
    color: var(--color-black);
    border-radius: 10px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin-left: 10px;
}


@media (max-width: 460px) {
    #itensCardapio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cabecalho img {
        max-width: 130px;
        height: auto;
        object-fit: contain;
    }

    .btn-white{
        display: flex;
        min-width: 50% !important;
    }

    .card {
        width: auto !important;
        max-height: 200px;
        margin: 5px !important;
        gap: 10px;
        min-width: 50%;
        padding: 5px !important;
    }
}