{% extends 'base.html' %} {% load static %} {% block content %}
<section class="banner"></section>

<section class="services"></section>

<section class="cardapio" id="cardapio">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <span class="hint-title"><b>Cardápio</b></span>
        <h2 class="title">Conheça nossos pratos</h2>

        <div class="col-12 container-menu">
          <a href="" class="btn btn-white btn-sm mr-3" title="Pizzas">
            <i class="fa-solid fa-pizza-slice"></i>&nbsp;Pizzas
          </a>

          <a href="" class="btn btn-white btn-sm mr-3" title="Sanduíches">
            <i class="fa-solid fa-burger"></i>&nbsp;Sanduíches
          </a>

          <a href="" class="btn btn-white btn-sm mr-3" title="Porções">
            <i class="fa-solid fa-utensils"></i>&nbsp;Porções
          </a>

          <a href="" class="btn btn-white btn-sm mr-3" title="Bebidas">
            <i class="fas fa-cocktail"></i>&nbsp;Bebidas
          </a>

          <a href="" class="btn btn-white btn-sm mr-3" title="Sobremesa">
            <i class="fa-solid fa-ice-cream"></i>&nbsp;Sobremesa
          </a>
        </div>

        <div class="row" id="itensCardapio">
          {% for produto in produtos %}
          <div class="{{ produto.categoria }} col-3 card-box">
            <div class="card card-item" title="{{ produto.nome }}">
              <div class="card-image">
                <img
                  class="card-img-top img-fluid img-thumbnail"
                  src="{{ produto.imagem.url }}"
                  alt="imagem do produto {{ produto.nome }}"
                />
              </div>
              <div class="card-body text-center">
                <h5 class="card-title text-break">{{ produto.nome }}</h5>
                <p class="card-text">R$ {{ produto.preco }}</p>
              </div>
              <div
                class="add-cart"
                id="open-{{ produto.id }}"
                data-modal="modal-{{ produto.id }}"
              >
                <span
                  class="btn btn-mais"
                  title="Adicionar ao carrinho"
                  data-bs-toggle="modal"
                  data-bs-target="#modalProduto{{ produto.id }}"
                  ><i class="fa-solid fa-plus btn btn-primary btn-cart"></i
                ></span>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="modalProduto{{ produto.id }}"
            tabindex="-1"
            aria-labelledby="modalProduto{{ produto.id }}"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ produto.nome }}</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>

                <div class="modal-body">
                  <div>
                    <img
                      class="card-img-top img-fluid img-thumbnail"
                      src="{{ produto.imagem.url }}"
                      alt="imagem do produto {{ produto.nome }}"
                    />
                  </div>
                  <p><strong>Descrição: </strong>{{ produto.descricao }}</p>
                  <p>R$ {{ produto.preco }}</p>
                </div>

                <div class="modal-footer"></div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
